@import 'adaptiv';

// обнуление

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    &::before{
        padding: 0;
        margin: 0;
        border: 0;
        box-sizing: border-box;
    }
    &::after{
        padding: 0;
        margin: 0;
        border: 0;
        box-sizing: border-box;
    }
}
a{
    text-decoration: none;
}
ul,
ol,
li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 1;
    font-size: 18px;
    color: #4A4A4A;
    font-family: 'Sailec Bold';
    font-weight: 400;
}
// -----------------------------------------------------------------------------------
.wrapper{
    min-height: 100%;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}
// -----------------------------------------------------------------------------------
._container{
    max-width: 1140px ;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}
// ------ШАПКА-----------------------------------------------------------------------------
.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container{
    display: flex;
    min-height: 72px;
    align-items: center;
}
.header__logo{
    color: inherit;
}
.header__menu{
    margin: 0 0 0 564.75px;
    @include _1440-1024{
        margin: 0 0 0 395px;
    }
    @include _768{
        margin: 0 0 0 195px;
    }
}
.menu{
    padding: 5px 0;
}
.menu__list{
    display: flex;
    flex-wrap: wrap;
}
.menu__item{
    &:not(:last-child){
        margin: 0 22px 0 0;
    }
}
.menu__link{
    color: rgba(102, 102, 102, 0.85);
    line-height: calc(26 / 16 * 100%);
}
// ------PAGE-----------------------------------------------------------------------------
.page{
    flex: 1 1 auto;
}

// ------MAIN-BLOCK-----------------------------------------------------------------------------
.main-block{
    position: relative;
}
.main-block__container{
    display: flex;
    min-height: 600px;
}
.main-block__body{
    padding: 129.3px 0 57.31px 0;
    max-width: 540px;
}
.main-block__title{
    padding: 76.7px 0 0 0;
    font-size: 48px;
    line-height: calc(58.08 / 48 * 100%);
}
.main-block__text{
    padding: 20px 0 0 0;
    font-family: 'Titillium Web';
    font-size: 18px;
    color:  rgba(67, 74, 84, 1);
    line-height: calc(30 / 18 * 100%);
    
}
.main-block__img{
    padding: 72px 0 0 0;
}
.img-main{
    @include _1440-1024{
        max-width: 100%;
        padding: 20px 0 0 0;
    }
    @include _768{
        display: none;
    }
}
// ------MAIN-BLOCK-2-----------------------------------------------------------------------------
.main-block-2{
    position: relative;
}
.main-block-2__container{
    display: flex;
    min-height: 649px;
    @include _768{
        min-height: 300px;
    }
}
.main-block-2__body{
    padding: 115.77px 0 0 0;
    max-width: 540px;
    @include _768{
        padding: 0 0 0 0;
    }
}
.main-block-2__title{
    padding: 75.23px 0 0 15px;
    font-size: 36px;
    line-height: calc(43.56 / 36 * 100%);
    @include _768{
        padding: 75.23px 0 0 0;
    }
}
.main-block-2__text{
    font-family:'Titillium Web';
    color:  rgba(67, 74, 84, 1);
    font-size: 18px;
    line-height: calc(30 / 18 * 100%);
    padding: 15px 47px 0 15px;
    @include _768{
        padding: 15px 47px 0 0;
    }
}
.main-block-2__button{
    background-color: inherit;
    padding: 28px 0 0 15px;
    @include _768{
        padding: 28px 0 0 0;
    }
}
.main-block-2__link{
    color:  rgba(29, 111, 243, 1);
    font-family:'Titillium Web';
    font-size: 16px;
    line-height: calc(25.6 / 16 * 100%);
}
// ------MAIN-BLOCK-3-----------------------------------------------------------------------------
.main-block-3{
    position: relative;
}
.main-block-3__container{
    display: flex;
    min-height: 598.95;
}
.main-block-3__body{
    max-width: 540px;
    padding: 112px 0 0 0;
    @include _1440-1024{
        padding: 0 0 0 0;
    }
    @include _768{
        padding: 30px 0 0 0;
    }
    
}
.main-block-3__title{
    font-size: 36px;
    line-height: calc(43.56 / 36 * 100%);
    padding: 70.8px 0 0 0;
}
.main-block-3__text{
    font-family:'Titillium Web';
    color:  rgba(67, 74, 84, 1);
    font-size: 18px;
    line-height: calc(30 / 18 * 100%);
    padding: 20px 30px 0 0;
    max-width: 500px;
}
.main-block-3__button{
    background-color: inherit;
    padding: 52px 0 0 0;
}
.main-block-3__link{
    color:  rgba(29, 111, 243, 1);
    font-family:'Titillium Web';
    font-size: 16px;
    line-height: calc(25.6 / 16 * 100%);
}
// ------EZ-GRID-----------------------------------------------------------------------------

%grid-block{
    padding: 11.88px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 55px;
    @media (max-width: 1024px){
        grid-template-columns: 1fr 1fr;
    }
}
.grid__container{
    display: flex;
    flex-direction: column;
    
    min-height: 887.22px;
}
.grid__h3{
    font-family: 'Sailec Bold';
    font-size: 24px;
    line-height: calc(29.04 / 24 * 100%);
}
.grid-block{
    padding: 11.88px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 55px;
    @media (max-width: 1024px){
        grid-template-columns: 1fr 1fr;
    }
}
// .grid-block__item{
//     border: 1px solid black;
// }
%text-grid{
    position: relative;
    background-color: white;
    top: -50px;
    max-width: 290px;
    margin: 0 24.98px 0 25px;
    display: flex;
    flex-direction: column;
}
%text-grid__h2{
    font-size: 24px;
    line-height: calc(31.2 / 24 * 100%);
    padding: 0 0 0 20px;
}
%text-grid__text{
    font-family: 'Titillium Web';
    max-width: 237px;
    font-size: 15px;
    line-height: calc(25.6 / 15 * 100%);
    padding: 0 0 0 20px;
}
.text-grid{
    position: relative;
    background-color: white;
    top: -50px;
    max-width: 290px;
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
}
.text-grid__h2{
    width: 250px;
    font-size: 24px;
    line-height: calc(31.2 / 24 * 100%);
    padding: 0 0 0 20px;
}
.text-grid__text{
    font-family: 'Titillium Web';
    max-width: 237px;
    font-size: 15px;
    line-height: calc(25.6 / 15 * 100%);
    padding: 0 0 0 20px;
}
// ------FORM-----------------------------------------------------------------------------
.em-div{
    background-color: rgb(151, 151, 151, 0.5);
}
.em-div__container{
    display: flex;
    justify-content: space-between;
    @include _768{
        flex-wrap: wrap;
    }
    min-height: 282px;
}
.em-div__text{
    align-self: center;
}

.form-h3{
    font-size: 36px;
    line-height: calc(43.6 / 36 * 100%);
}
.em-div__words{
    padding-top: 18px;
    width: 463px;
    font-family: 'Titillium Web';
    font-size: 18px;
    line-height: calc(30 / 18 * 100%);
}
.form{
    display: flex;
    align-self: center;
    
}

.em-div--form{
    width: 440px;
    height: 62.8px;
}
.email{
    position: relative;
    left: 5px;
    padding: 4px 0 0 0;
    width: 299px;
    height: 42px;
    &::placeholder{
        padding: 0 0 0 7px;
        font-size: 16px;
    }
}
.Subscribe{
    border: hidden;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 121px;
    height: 42px;
    background-color: #1D6FF3;
    color: white;
    font-size: 18px;
    line-height: calc(43.6 / 18 * 100%);
    font-family: 'Titillium Web';
}
// ------HARD-GRID-----------------------------------------------------------------------------
.page__hard-grid{
    padding: 20px 0 0 0;
}
.hard-grid__container{
    display: flex;
    @media (max-width:1024px){
        justify-content: center;
    }
}
.hard-grid-block__item{
    background-color: white;
    
    border-radius: 10px;
}
.hard-grid-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 5px;
    @media (max-width:1024px){
        column-gap: 10px;
        row-gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
.item-hard2{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    @media (max-width:1024px){
        display: none;
    }
}
.item-hard3{
    @media (max-width:1024px){
        grid-row-start: 2;
    }
}
.item-hard4{
    grid-row-start: 2;
    grid-row-end: 3;

}
.item-hard6{
    grid-column-start: 1;
    grid-column-end: 5;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.texthatd{
    width: 500px;
}
// ------ПОДВАЛ-----------------------------------------------------------------------------
.footer{

}